    .container {
        background-color: white;
    }
    
    #img1 {
        background-image: url(/trello.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    #imm {
        padding-top: 70px;
        height: 200px;
        width: 200px
    }
    
    #time2 {
        font-size: 23px;
        color: rgb(14, 13, 13);
        padding-left: 115px;
        padding-top: 200px;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
    }
    
    #date3 {
        font-size: 23px;
        color: rgb(14, 13, 13);
        padding-left: 110px;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
    }